
<div id="content" class="span10">

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }


    <!-- start: Content -->



    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            @*<i class="icon-edit"></i>*@
            <a href="#">Dashboard</a>
        </li>
    </ul>





</div>
