@using Models;
@model IEnumerable<Models.Product>



@{
    ViewBag.Title = "Index";
}

<div class="special">
    <div class="container">
        <h3>Catalogue</h3>
        <div class="specia-top">

            @foreach (Product product in ViewBag.ProductList)
            {

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                               <a href="@Url.Action("Details", "Catalog", new { id = product.ProductId })">
                                    <img src="/Catalog/RetrieveImage/@product.ProductId" alt="" height=200 width=200 class="thumbnail" />
                               </a>
                               
                                    <div class="special-info grid_1 simpleCart_shelfItem">
                                        <h5>@product.Title</h5>
                                        <div class="item_add"><span class="item_price"><h6>@product.Price.ToString("R0.00")</h6></span></div>
                                        <div class="item_add"><span class="item_price"><a href='@Url.Action("Buy", "Cart", new { id = product.ProductId })'>add to cart</a></span></div>

                                    </div>
                                @*<asp:Content ID="indexContent" ContentPlaceHolderID="MainContent" runat="server">*@
                                    <script language="javascript" type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
                                    <script language="javascript" type="text/javascript">
                                        $(function () {
                                            $("img").mouseover(function () {
                                                giveRating($(this), "FilledStar.jpeg");
                                                $(this).css("cursor", "pointer");
                                            });

                                            $("img").mouseout(function () {
                                                giveRating($(this), "EmptyStar.jpg");
                                            });

                                            $("img").click(function () {
                                                $("img").unbind("mouseout mouseover click");

                                                // call ajax methods to update database
                                                var url = "/Rating/PostRating?rating=" + parseInt($(this).attr("id"));
                                                $.post(url, null, function (data) {
                                                    $("#result").text(data);
                                                });
                                            });
                                        });

                                        function giveRating(img, image) {
                                            img.attr("src", "/Photos/Photo/" + image)
                                               .prevAll("img").attr("src", "/Photos/Photo/" + image);
                                        }
                                    </script>
                                    <p>
                                        <img src="~/Photos/Photo/" width="20" height="20" alt="." align="middle" id="1" />
                                        <img src="~/Photos/Photo/" width="20" height="20" alt="." align="middle" id="2" />
                                        <img src="~/Photos/Photo/" width="20" height="20" alt="Rate" align="middle" id="3" />
                                        <img src="~/Photos/Photo/" width="20" height="20" alt="." align="middle" id="4" />
                                        <img src="~/Photos/Photo/" width="20" height="20" alt="." align="middle" id="5" />
                                    </p>
                                    <div id="result"></div>
                                    @*</asp:Content>*@

</div><br /><br />
                        </div>
                    </div>
                </div>


            }


</div>
        </div>
    </div>

           




