@model IEnumerable<Models.Applicant>

<div class="special">
    <div class="container">
        @{
            ViewBag.Title = "MyApplication";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }




        <div class="special">
            <div class="container">
                <h3 style="background-color:lightgray">Feedback</h3>
                <div class="specia-top">

                    <div class="col-lg-4">
                        <div class="panel panel-success">
                            <div class="panel-heading; text-center" style="background-color:lightgray">
                                <h2>Your Application Has Been Successfully Submited</h2>
                            </div>
                            <div class="panel-body">
                                @foreach (var item in Model)
                                {
                                    <form>
                                        <p>Hi   @Html.DisplayFor(modelItem => item.FirstName)</p><br />
                                        <p>Your Application Reference Number is : @Html.DisplayFor(modelItem => item.AppRefNumber)</p>
                                    </form>
                                }
                            </div>
                            <div class="panel-footer; text-center" style="background-color:lightgreen">
                                If You Don't Hear from us within 30 Days Consider your Application Unsuccessful!!!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <p> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <button onclick="location.href='@Url.Action("Index", "Home")';return false;">Back to Home</button></p>


    </div>
</div><br /><br /><br /> 

