<div class="special">
    <div class="container">
        @{
            ViewBag.Title = "About";
        }
        

        <div class="special">
            <div class="container">
                <h3>About Us</h3>
                <div class="specia-top">
                    
                   jkj
                 
                </div>
            </div>
        </div>
        


     </div>
</div><br /><br /><br /> 











