@model Models.Size

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.ActualSize)*@ Actual Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sizeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
