@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<asp:Content ID="indexContent" ContentPlaceHolderID="MainContent" runat="server">
    <script language="javascript" type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("img").mouseover(function () {
                giveRating($(this), "FilledStar.jpeg");
                $(this).css("cursor", "pointer");
            });

            $("img").mouseout(function () {
                giveRating($(this), "EmptyStar.jpg");
            });

            $("img").click(function () {
                $("img").unbind("mouseout mouseover click");

                // call ajax methods to update database
                var url = "/Rating/PostRating?rating=" + parseInt($(this).attr("id"));
                $.post(url, null, function (data) {
                    $("#result").text(data);
                });
            });
        });

        function giveRating(img, image) {
            img.attr("src", "/Content/images/" + image)
               .prevAll("img").attr("src", "/Content/images/" + image);
        }
    </script>
    <p>
        <img src="~/Content/Images/EmptyStar.jpg" width="50" height="50" alt="Star Rating" align="middle" id="1" />
        <img src="~/Content/Images/EmptyStar.jpg" width="50" height="50" alt="Star Rating" align="middle" id="2" />
        <img src="~/Content/Images/EmptyStar.jpg" width="50" height="50" alt="Star Rating" align="middle" id="3" />
        <img src="~/Content/Images/EmptyStar.jpg" width="50" height="50" alt="Star Rating" align="middle" id="4" />
        <img src="~/Content/Images/EmptyStar.jpg" width="50" height="50" alt="Star Rating" align="middle" id="5" />
    </p>
    <div id="result"></div>
</asp:Content>